<div class="container main-container">
    <button class="btn btn-primary mb-5 " [routerLink]="['/filas']">Voltar</button>
    <div class="card" style="width: 38rem;">
        <div class="card-body">
            <h5 class="card-title">Guichê [guiche.id]</h5>
            <p class="card-text">Dados do guichê aqui</p>
            <a href="#" class="btn btn-secondary mr-3" [routerLink]="['/guiches']">Cancelar</a>
            <a href="#" class="btn btn-primary">Chamar próximo</a>
        </div>
    </div>
</div>